<section>
    {% trans %}
    <h2>{{ mytitle }}</h2>
    <h3>{{ name }} - {{ email }}</h3>
    <p><strong>Hey {{ from }}, What is the message??</strong></p>
    <p>{{ to }} : <stong>{{ message }}</stong> </p>
    {% endtrans %}
</section>